.select_container, .input_container{
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

h1{
    width: 500px;
    text-align: center;
}

.btn_container{
    display: flex;
    width: 500px;
    justify-content: center;
}

p{
    width: 177px;
    height: 34px;
    border: 1px solid black;
    margin: 0;
    text-align: center;
    line-height: 34px;
}